{% extends "layout.html" %}
{% block content %}

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" style="background-color: #B2CDD1;">
   <div class="jumbotron text-center">
      <div class="container">
         <h1>Image-to-Text</h1>
         <img src="/static/img/house.jpg" alt="Notebook" style="width:50%; border-radius: 5%;
            ">
         <div class="content">
            <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
         </div>
         <a href="{{ url_for('login') }}" class="btn btn-info" role="button">GET STARTED!</a>
      </div>
   </div>
   <!-- Container (About Section) -->
   <div id="about" class="container-fluid">
      <div class="row">
         <div class="col-sm-5" style="margin-left: 25%;">
            <h2>Advanced Image Processing</h2>
            <br>
            <h4>Advanced CNN Models</h4>
            <br>
            <p> Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.
            </p>
         </div>
         <div class="col-sm-4">
            <span class="glyphicon glyphicon-picture logo"></span>
         </div>
      </div>
   </div>
   <div class="container-fluid bg-grey">
      <div class="row">
         <div class="col-sm-6" style="margin-left: 44%;">
            <span class="glyphicon glyphicon-comment logo slideanim"></span>
         </div>
         <div class="col-sm-6" style="margin-left: 25%;">
            <h2>Image to Text</h2>
            <br>
            <h4><strong>Topic:</strong>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
            </h4>
            <br>
         </div>
      </div>
   </div>
   <!-- Container (Services Section) -->
   <div id="services" class="container-fluid text-center">
      <h2>CNN Model</h2>
      <h4></h4>
      <br>
      <div class="row slideanim">
         <div class="col-sm-4">
            <span class="glyphicon glyphicon-ok-sign logo-small"></span>
            <h4>Fast</h4>
            <p>Lorem ipsum dolor sit amet..</p>
         </div>
         <div class="col-sm-4">
            <span class="glyphicon glyphicon-ok-sign logo-small"></span>
            <h4>Reliable</h4>
            <p>Lorem ipsum dolor sit amet..</p>
         </div>
         <div class="col-sm-4">
            <span class="glyphicon glyphicon-ok-sign logo-small"></span>
            <h4>Dynamic</h4>
            <p>Lorem ipsum dolor sit amet..</p>
         </div>
      </div>
      <br><br>
   </div>
   <!-- Container (Pricing Section) -->
   <div id="pricing" class="container-fluid">
      <div class="text-center">
         <h2>References</h2>
      </div>
   </div>
   <!-- Container (Contact Section) -->
   <div id="contact" class="container-fluid bg-grey">
      <h2 class="text-center">TEAM</h2>
      <div class="row">
      </div>
   </div>
   <!-- Image of location/map -->
   <img src="" class="w3-image w3-greyscale-min" style="width:100%">
   <footer class="container-fluid text-center">
      <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
   </footer>
   <script>
      $(document).ready(function(){
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
      
            // Store hash
            var hash = this.hash;
      
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 900, function(){
      
              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            });
          } // End if
        });
      
        $(window).scroll(function() {
          $(".slideanim").each(function(){
            var pos = $(this).offset().top;
      
            var winTop = $(window).scrollTop();
              if (pos < winTop + 600) {
                $(this).addClass("slide");
              }
          });
        });
      })
   </script>
</body>
{% endblock %}