{% extends "layout.html" %}

{% block styles %}
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container text-center">
        <div class="split left">
            <div class="centered">
              <h3>Import Image</h3>
              <input class=" center" type="file" id="myFile" name="filename">
              <input class="btn" type="submit">
            </div>
          </div>
          
          <div class="split right">
            <div class="centered">
              <h2>TEXT HERE</h2>
              <div id="vis1" class="vis"></div>
            </div>
          </div>

    </div>
</div>



{% endblock %}